{% extends "base.html" %}

{% block title %}Avaleht – Programmeerimise alused I{% endblock %}

{% block tagasi %}{% endblock %}

{% block pealkiri %}Programmeerimise alused I{% endblock %}

{% block sisu %}
<p>Vali harjutus, mida soovid käivitada:</p>
<ul style="line-height: 2.2; font-size: 1.1rem;">
  <li><a href="/reklaam">6.1 – Reklaam (bänner)</a></li>
  <li><a href="/teler">6.2 – Teleri diagonaal</a></li>
  <li><a href="/pidu">6.3 – Peo eelarve</a></li>
  <li><a href="/mitmes">6.4a – Külaliste tervitamine</a></li>
  <li><a href="/myndid">6.4b – Pronksikarva müntide summa</a></li>
  <li><a href="/kuupaev">6.4c – Kuupäev sõnena</a></li>
</ul>
{% endblock %}
